.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav{
    height: 50px;
}

h3{
    padding-top: 5px;
    font-size: 32px;
    font-weight: 650;

}

#contact-steve{
    padding-right: 15px;
    padding-left: 15px;
}

#about-steve{
    padding-left: 15px;
    font-size: 32px;
    font-weight: 450;
}

#contact-container{
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding-bottom: 10px;
    margin-bottom: 200px;
}

#portfolio-container{
    padding-bottom: 10px;
    margin-bottom: 10%;
}

#steve-bio{
    font-size: 18px;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 1%;
}

#portfolio-images{
    width: 100%;
    height: 100%;
}

.nav-item{
    font-weight: 550;
    font-size: 18px;
}

.md-form label{
    position: relative;
    top: 0%;
}

