.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav{
    height: 50px;
}

li a:hover {
    background-color:  #0077B5;
  }

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 5px solid rgba(204, 204, 204, 0.534);
    margin: 1em 0;
    padding: 0; 
}

body{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), 
      url("http://cdn.knowledgehi.com/3840x2160/20180518/5afece5fc0249.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h3{
    padding-top: 5px;
    font-size: 27px;
    font-weight: 650;
}
#navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
}

#home-pic{
    border-radius: 50%;
    width: 35%;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(255, 255, 255, 0.432);
}

#main-card{
    margin-top: 7%;
    margin-bottom: 1%;
    background: inherit;
}

#home-name{
    font-size: 62px;
    font-weight: 600;
    margin: 0;
    color: white;
    text-shadow: 3px 3px 5px #000000;
}

#home-details{
    font-size: 40px;
    font-weight: 400;
    color: white;
    text-shadow: 3px 3px 3px #000000;
}

#home-bio{
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 1px #000000;
}

#footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding-bottom: 1%;
}

#footer-portfolio{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 1%;
}

#portfolio-images{
    width: 100%;
    height: 100%;
}

#linkedin-btn{
    background: #0077B5;
}


@media screen and (max-width: 768px) {
    #navbar{
            position: static;
    }
    #768-header{
        display: flex;
        justify-content: center;
    }

    #768-options{
        display: flex;
        justify-content: center;
    }
}